*{
    margin: 0;
    padding: 0;
}
html{
    background: grey;
}
body{
    background-color: white;
    width: 800px;
    height: 800px;
    /* top and bottom and left and right */
    margin: 30px auto;
}
.box{
    width: 100px;
    height: 100px;
    float: left;
    font-size: 70px;
    color:orange;
    text-align: center;
}
.box:hover{
    background-color: red;
    color: white;
}
.black
{
    background-color: black;
}
