html {
    background: grey;
  }
  body {
    background: white;
    height: 800px;
    width: 800px;
    margin: 30px auto;
  }
 
  .box {
    height: 100px;
    width: 100px;
    float: left;
    font-size: 70px;
    text-align: center;
    color: orange; 
  }
  .box:hover {
    background: red;
  }
  .black {
    background: black;
  }