@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    --primary-background-color:#2874F0;
    --secondary-background-color:#ffffff;
    --primary-text-color:#000000;
}
body{
   background-color: #F1F2F4;
}
header{
    height: 58px;
    background-color:var( --secondary-background-color) ;
}
nav{
    height: 58px;
    display: flex;
    align-items: center;
}
.logo{
    margin: 0 30px;
}
/* .search-icon{
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
    padding: 8px 8px 8px 12px;
    background-color: transparent;
} */
.search{
    display: flex;
    outline: 0 none;
    font-size: 17px;
    height: 40px;
    background-color: #F0F5FF;
    border: 0;
    margin: 0 32px 0 0px;
}

.btn-search{
    padding: 8px 8px 8px 12px;
    outline: 0 none;
    font-size: 17px;
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: 0;
}
.inpt{
    width: 495px;
    height: 40px;
    outline: 0 none;
    font-size: 15px;
    background-color: transparent;
    border: 0;
}

.next-icon{
    padding: 8px;
    display: flex;
    align-items: center;
}

.mr{
    margin-right: 8px;
} 
.ml{
    margin-left: 8px;
}
 i{
   color: black;
}
.btn-login{
    height: 35px;
    display: flex;
    align-items: center;
    padding: 12px
}
.btn-login:hover{
    background-color: #2953E0;
    color:white;
    border-radius: 7px;
}
i:hover{
    color:white;
}
.rotate{
    transform: rotate(180deg);
}
.rotate:hover{
    transform: rotate(0deg);
    transition: transform .3s ease-in-out;
}

.cart{
    margin: 0 40px;
}
span{
    font-size: 16px;
   
}
.box{
    margin: 0 0 0 120px;
}
main{
    min-height: calc(100vh - 58px - 90px);
}
.box1{
    border-radius: 3px;
    height: 130px;
    background-color: var(--secondary-background-color);
    padding: 12px;
    margin: 12px;
    display: flex;
    justify-content: space-around;

}
.center{
    display: flex;
    justify-content: center;
}
.slider{
    margin: 12px;
}
.card{
    margin: 12px;
    background: white;
    border-radius: 3px;
    padding: 12px;
}
.my-2{
    margin: 0 12px;
}
.cards{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.text-center{
    text-align: center;
}
.my-1{
    margin: 0 5px;
}

footer{
    height: 90px;
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-background-color);
    font-size: 12px;
}