*{
    margin: 0;
    padding: 0;
}
.container{
    border: 5px solid black;
    display: grid;
    /* display: inline-grid; */
    /* grid-template-columns: 200px 200px 300px; */
    grid-template-columns: repeat(4,auto);
    /* grid-template-rows:400px 200px 300px; */
    column-gap: 30px; 
     row-gap: 30px; 
    grid-gap: 30px; 
}
.grid-item{
    color: white;
    font-size: 18px;
    padding: 16px;
    text-align: center;  
}
.box-1
{
    background-color: aqua;
}
.box-2
{
    background-color: rgb(35, 24, 197);
}
.box-3
{
    background-color: rgb(212, 16, 163);
}
.box-4
{
    background-color: rgb(223, 54, 3);
}
.box-5
{
    background-color: rgb(58, 214, 11);
}
.box-6
{
    background-color: rgb(149, 206, 17);
}
.box-7
{
    background-color: rgb(187, 13, 149);
}
.box-8
{
    background-color: rgb(211, 14, 24);
}
.box-9
{
    background-color: rgb(76, 15, 190);
}
.box-10
{
    background-color: rgb(59, 219, 19);
}
.box-11
{
    background-color: rgb(230, 18, 141);
}
.box-12
{
    background-color: rgb(231, 88, 4);
}
